<h1><%= @category.name %> Products</h1>

<aside>
  <% if @products.any? %>
    <div>
      <% @products.each do |product| %>
      <div>
        <p><strong><%= link_to product.name, product %></strong></p>
      <% end %>
    </div>
    <%= paginate @products %>
  <% else %>
    <p>No products found in this category.</p>
  <% end %>
</aside>

<%= link_to "Back to All Categories", categories_path %>