<h1>All Products</h1>

<% if @products.any? %>
  <div>
  <% @products.each do |product| %>
    <div>
      <p><strong><%= link_to product.name, product_path(product) %></strong></p>
    </div>
  <% end %>
  </div>
  <%= paginate @products %>
<% else %>
  <p>No products available.</p>
<% end %>